<link href="template/actor/character-sheet.css" rel="stylesheet" />
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

<div id="icon-sheet">
    <div id="icon-header">
        <div id="icon-background">
            <div id="icon-name">Name</div>
            <div id="icon-bond">Bond</div>
            <div id="icon-kin">Kin</div>
            <div id="icon-class">Class</div>
            <div id="icon-culture">Culture</div>
            <div id="icon-job">Job</div>
        </div>
        <div id="icon-XP">
            <div id="icon-XP-lable">XP</div>
            {{#each (range 15)}}
                <div id="{{'icon-XP'+ this}}" class="icon-XP-box {{data.xp>=this?'XP-active':''}}">
                {{#if (this!=15 && this!=7)}}
                <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 285.66 285.66">
                <defs>
                    <style>
                    .cls-1 {
                        fill: none;
                        stroke: #000;
                        stroke-miterlimit: 10;
                        stroke-width: 12px;
                    }
                    </style>
                </defs>
                <path class="cls-1" d="m142.83,23.08h0c15.73,58.4,61.35,104.02,119.75,119.75h0s0,0,0,0c-58.4,15.73-104.02,61.35-119.75,119.75h0s0,0,0,0c-15.73-58.4-61.35-104.02-119.75-119.75h0s0,0,0,0c58.4-15.73,104.02-61.35,119.75-119.75h0Z"/>
                </svg>
                {{/if}}
                </div>
            {{/each}}
        </div>
        <div id="icon-level">level
            <div id="icon-act1">
                <div id="icon-act1-text">Act 1</div>
                <div id="icon-act1-lvl1"></div>
                <div id="icon-act1-lvl2"></div>
                <div id="icon-act1-lvl3"></div>
                <div id="icon-act1-lvl4"></div>
            </div>
            <div id="icon-act2">
                <div id="icon-act2-text">Act 2</div>
                <div id="icon-act2-lvl5"></div>
                <div id="icon-act2-lvl6"></div>
                <div id="icon-act2-lvl7"></div>
                <div id="icon-act2-lvl8"></div>
            </div>
            <div id="icon-act3">
                <div id="icon-act3-text">Act 3</div>
                <div id="icon-act3-lvl9"></div>
                <div id="icon-act3-lvl10"></div>
                <div id="icon-act3-lvl11"></div>
                <div id="icon-act3-lvl12"></div>
            </div>
        </div>
    </div>
    <div id="icon-navigation">navigation</div>
    <div id="icon-tabs">tabs</div>
    <div id="icon-footer">footer</div>
</div>
